body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

#container {
    padding: 10px;
}

.outcome {
    padding: 10px;
    font-weight: bold;
}

.finaloutcome {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}